/* CaringCent Change Calculator CSS - v1.2 */
.entry-content #changecalc{margin-top:2.5em; padding-bottom:2em;}
#changecalc.row{width:100%;}
#changecalc .container .row {
  margin-right: -15px;
  margin-left: -15px;
}
#changecalc .col-xs-1, #changecalc .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, #changecalc .col-sm-5, .col-md-5, #changecalc .col-lg-5, #changecalc .col-xs-6, #changecalc .col-sm-6, #changecalc  .col-md-6, #changecalc .col-lg-6, .col-xs-7, #changecalc .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {position: relative;  min-height: 1px; padding-right: 15px;  padding-left: 15px;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, #changecalc .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {float: left;}
.col-xs-12 {  width: 100%;}
.col-xs-11 {  width: 91.66666667%;}
.col-xs-10 {  width: 83.33333333%;}
.col-xs-9 {  width: 75%;}
.col-xs-8 {  width: 66.66666667%;}
#changecalc .col-xs-7 {  width: 58.33333333%;}
#changecalc .col-xs-6 {  width: 50%;}
#changecalc .col-xs-5 {  width: 41.66666667%;}
.col-xs-4 {  width: 33.33333333%;}
.col-xs-3 {  width: 25%;}
.col-xs-2 {  width: 16.66666667%;}
.col-xs-1 {  width: 8.33333333%;}

#changecalc .form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  #changecalc .form-horizontal .control-label {
    padding-top: 3px;
    margin-bottom: 0;
    text-align: right;
  }
}
#changecalc .form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  #changecalc .form-horizontal .form-group-lg .control-label {
    padding-top: 11px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #changecalc .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}

#changecalc h3{font-size:24px; margin-top:2em;}
#changecalc h3.no-top-margin{margin-top:0;}
#changecalc h3 small{font-size:18px;}
#changecalc .col-sm-6 p{line-height:1.5;}

#changecalc .btn {
  display: inline-block;
  /*padding: 6px 12px;*/
  padding: 0.5em 2em;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  /*border-radius: 4px;*/
  margin-left:15px;
}
#changecalc .btn:focus,
#changecalc .btn:active:focus,
#changecalc .btn.active:focus,
#changecalc .btn.focus,
#changecalc .btn:active.focus,
#changecalc .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
#changecalc .btn:hover,
#changecalc .btn:focus,
#changecalc .btn.focus {
  text-decoration: none;
}
#changecalc .btn:active,
#changecalc .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#changecalc .btn.disabled,
#changecalc .btn[disabled],
#changecalc fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
#changecalc a.btn.disabled,
#changecalc fieldset[disabled] a.btn {
  pointer-events: none;
}
#changecalc .form-group {
  margin-bottom: 15px;
}
#changecalc .row:before,.row:after,#changecalc .form-horizontal .form-group:before,#changecalc .form-horizontal .form-group:after{display: table; content: " ";clear: left;}
#changecalc .row:after, #changecalc .form-horizontal .form-group:after, #changecalc .clearfixer{clear:both;}
#changecalc .pull-right {  float: right !important;}
#changecalc .pull-left {  float: left !important;}
.control-label{}
#changecalc .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #666666;
  font-size:0.8em;
  line-height:1.5;
}
#changecalc .form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #4e4e4e;
  background-color: #fff;
  background-image: none;
  border: 1px solid #bbb;
  font-size:15px;
}
#changecalc .form-control:focus {
  border-color: #000;
  outline: 0;
}
#changecalc .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
#changecalc .form-control:-ms-input-placeholder {
  color: #999;
}
#changecalc .form-control::-webkit-input-placeholder {
  color: #999;
}
#changecalc .form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
#changecalc .form-control[disabled],
#changecalc .form-control[readonly],
#changecalc fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
#changecalc .form-control[disabled],
#changecalc fieldset[disabled] .form-control {
  cursor: not-allowed;
}
 
#changecalc .question-circle{font-size:0.5em; padding:3px 5px 0; line-height:1; border-radius:50%; height:10px; width:10px; font-weight:bold; font-style:normal;}
#changecalc .text-muted{color:#666;}
#changecalc .question-circle.text-muted{background-color:#666; color:#fff;}

.no-top-margin{margin-top:0;}

.btn-primary, .question-circle{color:#fff; background-color: #0092AE; opacity:1;}
#changecalc .btn-primary:hover, #changecalc .btn-primary:active{opacity:0.9; color:#fff;}
.text-primary{color: #17B3D4;}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {float: left;}
  .col-sm-12 { width: 100%;}
  .col-sm-11 {width: 91.66666667%;}
  .col-sm-10 { width: 83.33333333%;}
  .col-sm-9 {width: 75%;}
  .col-sm-8 {width: 66.66666667%;}
  #changecalc .col-sm-7 { width: 58.33333333%;}
  #changecalc .col-sm-6 {width: 50%;}
  #changecalc .col-sm-5 {width: 41.66666667%;}
  .col-sm-4 {width: 33.33333333%;}
  .col-sm-3 { width: 25%;}
  .col-sm-2 {width: 16.66666667%;}
  .col-sm-1 {width: 8.33333333%; }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left; }
  .col-md-12 { width: 100%;}
  .col-md-11 {width: 91.66666667%;}
  .col-md-10 { width: 83.33333333%;}
  .col-md-9 { width: 75%;}
  .col-md-8 {width: 66.66666667%;}
  #changecalc .col-md-7 {width: 58.33333333%;}
  #changecalc .col-md-6 {width: 50%;}
  #changecalc .col-md-5 {width: 41.66666667%;}
  .col-md-4 { width: 33.33333333%;}
  .col-md-3 { width: 25%;}
  .col-md-2 {width: 16.66666667%;}
  .col-md-1 {width: 8.33333333%;}
}
